body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: aliceblue;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh; 
    padding: 0.5rem; 
}
.sidebar{
    background-color:black;
    width: 340px;
    border-radius: 1rem;
    margin-right:0.5rem;
}
.main-content{
    background-color:aliceblue;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    background-color: #121212;
    padding: 0 1.5rem;
    
   
}
.player{
    background-color: black;
    position: fixed;
    bottom: 0;
    height:72px;
    width: 100%;  
} 
a{
    color: white;
    text-decoration: none;
}
.nav{
    background-color: #121212;
    color: white;
    border-radius: 1rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    opacity: 0.7;
    line-height: 2.3rem;
    padding: o.7rem 0.75;
    margin: 0.2rem 0.5rem;
}
.nav-option:hover{
    opacity: 1;
  
}
.nav-option i{
   font-size: 1.25rem;

}
.nav-option a{
    font-size: 1rem;
    margin: 0.75rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    height: 100%;
    padding: o.7rem 0.75;
   
}

.lib-option img{
    height: 2.5rem;
    width: 2.5rem;
}
.options{
    display: flex;
    justify-content: space-between;
    
}
.icons{
    margin-right: 1rem;
    font-size: 1.25rem;
    opacity: 0.7;
    display: flex;
}
.icons i{
    padding-top: 6px;
    font-size: 1.25rem;
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.lib-option{
    display: inline-flex;
    text-align: center;
}
.lib-option a{
    padding-top: 10px;
    opacity: 0.7;
    font-size: 1rem;
}
.lib-option a:hover{
    opacity: 1;
}
.box{
    
    height: 7rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.5rem 0.3rem 0.5rem 0.3rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
}
.box1{
    margin-top: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
}
.box2{
    margin-top: 0.35rem;
    font-size: 0.85rem;
    opacity: 0.75;
   

}
.badge{
   background-color: #fff;
   border: none;
   border-radius: 100px;
   padding: 0.25rem 1rem;
   font-weight: 600;
   margin-top: 0.8rem;
   height: 2rem;
   width: fit-content;
}
.nav-bar{
    padding: 10px;
    display: flex;
    height: 3rem;
    color:grey;
    position:sticky;
    top: 0;
    background-color: #121212;
    z-index: 10;
    

}
.main-content .nav-bar i{
   color: white;
   font-size: 1.5rem;
   margin: 3px;
    
}
.main-content .nav-bar .badge{
    margin-top: 0;
}
.nav-badge{
    position: relative ;
    left: 750px;
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
}
.title{
    font-weight: 600;
}
.description{
    font-size: 0.85rem;
    opacity: 0.8;
}
.player{
    display: flex;
}
.music{
    width: 25%;
    display: flex;
    
    
}
.music img{
    height: 60px;
    width: 100px;
    padding-top: 7px;
    padding-left: 7px;
    border-radius: 5px;
    
}
.song-info{
    font-size: 13px;
    padding-top: 15px;
    padding-left: 7px;
}
.song-info p{
    margin: 0;
}
.icons{
    margin-top: 20px;
}
.icons i{
    padding-left: 10px;
    
}
.music-bar{
    width: 50%;
  
 
   
}
.music-bar img{
   height: 40px;
    position: relative;
   left: 250px; 
}
.progress-bar{
    position: relative;
    left: 100px;
    bottom: 10px;
}
input{
    width:450px;
    height: 4px;
}
.tools
{
    width: 25%;
   
}
.tools1{
    margin-left: 3.5rem;
    margin-top:1.5rem;
}
#rangesize{
    width: 100px;
}
.tools1 i{
    padding-left:0.5rem ;
    opacity: 0.7;
}
.tools1 i:hover{
    opacity: 1;
}